* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  width: 1263px;
  height: 28px;
  background: #2aad6f;
  padding-right: 31.5px; }
  #header ul li {
    float: right;
    width: 67px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-left: 1px solid #57b488; }
    #header ul li:hover {
      background: #57b488; }
  #header ul li a {
    color: white; }

article {
  width: 1263px;
  height: 134px;
  background: #ededed;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 10;
  display: none; }
  article h3 {
    width: 1176px;
    height: 18px;
    font-size: 18px;
    font-weight: bolder;
    color: #292929;
    padding-left: 10px;
    margin: 15px 43px; }
  article ul {
    width: 1176px;
    height: 84px;
    margin-left: 43px; }
    article ul li {
      float: left;
      width: 143px;
      height: 28px;
      line-height: 28px;
      text-align: center; }
      article ul li:last-child a {
        color: #2AAD6F; }
      article ul li a {
        font-size: 16px;
        font-weight: bolder;
        color: #7b7b7b; }

#nav {
  width: 1263px;
  height: 78px;
  background: white; }
  #nav .nav-left {
    width: 400px;
    height: 20px;
    float: left;
    margin-left: 31.5px;
    margin-top: 20px; }
    #nav .nav-left img {
      float: left; }
  #nav .nav-right {
    width: 800px;
    float: right;
    margin-right: 31.5px;
    margin-top: 30px; }
    #nav .nav-right ul {
      width: 550px;
      float: right; }
    #nav .nav-right ul li {
      padding-left: 20px;
      padding-right: 20px;
      float: left; }
      #nav .nav-right ul li:nth-child(2) a {
        border-bottom: 2px solid #2AAD6F; }
      #nav .nav-right ul li a {
        display: block;
        padding-bottom: 3px;
        color: #7b7b7b; }

.nav-right a:hover {
  font-weight: bolder;
  color: #393939; }

section {
  width: 1263px;
  background: #f7f7f7;
  padding-left: 32px; }
  section #main_top {
    width: 1200px;
    height: 51x;
    line-height: 51px;
    color: #7b7b7b; }
  section #main_center {
    width: 1200px;
    height: 738px; }
    section #main_center #box {
      float: left;
      width: 790px;
      height: 738px; }
    section #main_center .centerF {
      width: 770px;
      height: 365px;
      position: relative;
      margin: 0 10px;
      overflow: hidden; }
      section #main_center .centerF img {
        width: 770px;
        height: 365px; }
        section #main_center .centerF img:nth-child(2) {
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0; }
    section #main_center .centerS {
      margin: 8px 10px 0;
      width: 770px;
      height: 365px;
      position: relative;
      overflow: hidden; }
      section #main_center .centerS img {
        width: 770px;
        height: 365px; }
        section #main_center .centerS img:nth-child(1) {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2; }
    section #main_center .centerT {
      float: right;
      width: 396px;
      height: 738px;
      position: relative;
      overflow: hidden; }
      section #main_center .centerT img {
        display: block;
        width: 396px;
        height: 738px; }
        section #main_center .centerT img:nth-child(1) {
          position: absolute;
          z-index: 2;
          left: 0;
          top: 0; }
  section #main_bottom {
    width: 1200px; }
    section #main_bottom .bottom_top {
      margin-top: 100px;
      width: 1176px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #393939; }
    section #main_bottom .bottom_center {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 1176px;
      height: 21px;
      line-height: 21px;
      font-size: 20px;
      color: #7B7B7B; }
      section #main_bottom .bottom_center h3 {
        display: inline; }
    section #main_bottom .pho_f {
      width: 1176px;
      height: 371px; }
      section #main_bottom .pho_f .pho_1 {
        float: left;
        width: 286px;
        height: 365px;
        text-align: center;
        margin-top: 10px;
        margin-right: 15px;
        background: #fff;
        margin-bottom: 10px;
        cursor: pointer; }
        section #main_bottom .pho_f .pho_1 img {
          margin-top: 40px;
          margin-left: 60px;
          display: block;
          width: 161px;
          height: 182px; }
        section #main_bottom .pho_f .pho_1 .p1 {
          margin-top: 30px;
          width: 246px;
          height: 20px;
          font-size: 16px;
          color: #292929; }
        section #main_bottom .pho_f .pho_1 .p2 {
          margin-top: 10px;
          width: 246px;
          height: 20px;
          font-size: 12px;
          font-weight: bolder;
          color: #7B7B7B; }
  section #main_footer {
    width: 1176px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 100px; }
    section #main_footer div {
      float: left;
      width: 583px;
      height: 300px; }
      section #main_footer div:first-child {
        margin-right: 10px; }
      section #main_footer div img {
        width: 583px;
        height: 300px; }

#footer {
  width: 1263px;
  height: 373px;
  padding-top: 60px;
  padding-left: 31.5px;
  padding-right: 31.5px;
  background: #f6f6f6; }
  #footer #footerTop {
    height: 178px;
    border-bottom: 1px solid #7b7b7b; }
  #footer a {
    color: #363636; }
  #footer #list {
    width: 882px;
    height: 148px;
    float: left; }
    #footer #list .list-1 {
      padding-left: 10px;
      float: left;
      width: 220.5px;
      height: 140px; }
      #footer #list .list-1 ul {
        margin-top: 20px; }
      #footer #list .list-1 li {
        font-size: 14px;
        margin: 10px 0; }
  #footer figure {
    float: right;
    width: 294px;
    height: 122px; }
    #footer figure img {
      margin-left: 100px;
      margin-bottom: 20px; }
    #footer figure p {
      width: 294px;
      height: 40px;
      font-size: 32px;
      margin-left: 90px; }
    #footer figure h4 {
      margin-left: 110px;
      color: #363636;
      font-weight: 100; }

#footer #info {
  margin-top: 40px;
  width: 1200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #363636; }
  #footer #info .infoLeft {
    width: 680px;
    height: 30px;
    line-height: 30px;
    float: left; }
    #footer #info .infoLeft span {
      width: 650px; }
    #footer #info .infoLeft .ifon {
      display: block;
      float: right;
      width: 25px;
      height: 25px;
      overflow: hidden; }
  #footer #info .infoRight {
    float: right;
    height: 30px;
    line-height: 30px; }
    #footer #info .infoRight #sp {
      float: left;
      display: block;
      width: 65px;
      height: 30px;
      line-height: 30px; }
    #footer #info .infoRight span {
      width: 25px;
      height: 25px;
      position: relative; }
      #footer #info .infoRight span img {
        float: left;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer; }

aside {
  position: fixed;
  left: 1200px;
  bottom: 40px;
  width: 42px;
  height: 74px;
  display: none; }
  aside .asideTop {
    width: 42px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #ededed;
    margin-bottom: 2px; }
    aside .asideTop img {
      width: 20px;
      height: 20px; }
  aside .asideBottom {
    width: 42px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #ededed; }
    aside .asideBottom img {
      width: 20px;
      height: 20px; }

#backTop {
  width: 120px;
  height: 36px;
  line-height: 36px;
  background: #2AAD6F;
  color: #fff;
  position: fixed;
  left: 1122px;
  bottom: 78px;
  cursor: pointer;
  display: none; }
  #backTop span {
    padding-left: 5px; }
  #backTop img {
    margin-left: 18px;
    margin-top: 8px;
    width: 20px;
    height: 20px; }

#opin {
  width: 120px;
  height: 36px;
  line-height: 36px;
  background: #2AAD6F;
  color: #fff;
  position: fixed;
  left: 1122px;
  bottom: 40px;
  cursor: pointer;
  display: none; }
  #opin span {
    padding-left: 5px; }
  #opin img {
    margin-left: 18px;
    margin-top: 8px;
    width: 20px;
    height: 20px; }

/*# sourceMappingURL=oppo03pro.css.map */
