* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  color: #393939; }

#header {
  width: 1263px;
  height: 28px;
  background: #2aad6f;
  padding-right: 31.5px; }
  #header ul li {
    float: right;
    width: 67px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-left: 1px solid #57b488; }
    #header ul li:hover {
      background: #57b488; }
  #header ul li a {
    color: white; }

#nav {
  width: 1263px;
  height: 78px;
  background: #f7f7f7; }
  #nav .nav-left {
    width: 400px;
    height: 20px;
    float: left;
    margin-left: 31.5px;
    margin-top: 20px; }
    #nav .nav-left img {
      float: left; }
  #nav .nav-right {
    width: 800px;
    float: right;
    margin-right: 31.5px; }
    #nav .nav-right ul {
      width: 550px;
      float: left;
      margin-top: 30px;
      margin-left: 150px; }
    #nav .nav-right ul li {
      padding-left: 20px;
      padding-right: 20px;
      float: left; }
      #nav .nav-right ul li:nth-child(3) a {
        border-bottom: 2px solid #2AAD6F; }
      #nav .nav-right ul li a {
        display: block;
        padding-bottom: 3px;
        color: #7b7b7b; }
    #nav .nav-right #shopcar {
      margin-top: 20px;
      width: 80px;
      height: 52px;
      float: right;
      position: relative;
      cursor: pointer; }
      #nav .nav-right #shopcar span {
        position: absolute;
        display: block;
        width: 19px;
        height: 19px;
        background: #2AAD6F;
        line-height: 19px;
        text-align: center;
        border-radius: 50%;
        left: 22px;
        top: 0; }
        #nav .nav-right #shopcar span a {
          color: white; }

.nav-right a:hover {
  font-weight: bolder;
  color: #393939; }

#section {
  width: 1263px;
  background: #f7f7f7;
  padding-left: 32px; }
  #section #main_top {
    width: 1200px;
    height: 51x;
    line-height: 51px;
    color: #7b7b7b; }

section {
  width: 1263px;
  height: 760px;
  padding-left: 43px;
  background: #f7f7f7; }
  section #box {
    float: left;
    width: 588px;
    height: 665px;
    position: relative;
    overflow: hidden; }
    section #box #list {
      display: flex;
      height: 588px;
      position: absolute;
      left: 0;
      top: 0; }
      section #box #list li {
        width: 588px;
        height: 588px; }
        section #box #list li img {
          width: 588px;
          height: 588px; }
    section #box #lis {
      width: 400px;
      height: 77px;
      position: absolute;
      top: 588px;
      margin-left: 80px; }
      section #box #lis li {
        width: 77px;
        height: 77px;
        padding-top: 13px;
        text-align: center;
        border: 1px solid #E0E0E0;
        border-radius: 50%;
        margin: 0 10px;
        float: left;
        cursor: pointer; }
        section #box #lis li img {
          width: 51px;
          height: 51px; }
      section #box #lis li.active {
        border: 1px solid #2AAD6F; }
  section #style {
    width: 588px;
    float: right; }
    section #style h2 {
      width: 588px;
      height: 31px;
      margin-top: 40px;
      margin-bottom: 10px; }
    section #style p {
      width: 588px;
      height: 17px;
      margin: 10px 0; }
    section #style h3 {
      width: 111px;
      height: 27px;
      color: #f30; }
    section #style #intru {
      width: 588px;
      height: 30px;
      line-height: 30px;
      margin-top: 10px; }
      section #style #intru h4 {
        float: left;
        width: 76px;
        height: 20px; }
      section #style #intru span {
        float: left;
        margin-right: 5px;
        width: 156px;
        text-align: center;
        height: 30px;
        border: 1px solid #E1E1E1;
        color: #646464; }
    section #style #gift {
      width: 588px;
      height: 132px;
      margin-top: 15px;
      margin-bottom: 10px;
      border-top: 1px dashed #b6b6b6;
      border-bottom: 1px dashed #b6b6b6; }
      section #style #gift div {
        width: 505px;
        height: 48px;
        line-height: 48px;
        margin-top: 10px; }
        section #style #gift div h4 {
          float: left;
          display: inline;
          margin-right: 50px; }
        section #style #gift div img {
          float: left;
          width: 38px;
          height: 38px;
          border: 1px solid #7B7B7B; }
        section #style #gift div a {
          margin-top: 5px;
          margin-left: 10px;
          margin-right: 100px;
          color: #393939;
          font-weight: 400;
          color: 16px; }
        section #style #gift div span {
          padding: 5px 20px;
          border: 1px solid #2AAD6F;
          border-radius: 3px; }
        section #style #gift div:nth-child(2) {
          margin-left: 80px; }
    section #style #gift_1 {
      width: 588px;
      height: 132px;
      padding-top: 10px;
      margin-bottom: 10px;
      border-bottom: 1px dashed #b6b6b6; }
      section #style #gift_1 #fuwu {
        width: 505px;
        height: 48px;
        line-height: 48px;
        line-height: 48px;
        margin-top: 10px; }
        section #style #gift_1 #fuwu h4 {
          float: left;
          display: inline;
          margin-right: 50px; }
        section #style #gift_1 #fuwu div {
          border: 1px solid #e2e2e2;
          float: left;
          width: 170px;
          height: 33px;
          line-height: 33px;
          margin-left: 10px; }
          section #style #gift_1 #fuwu div a {
            width: 33px;
            height: 29px;
            padding: 7px;
            color: #e9af4a;
            border-right: 1px solid #e2e2e2; }
        section #style #gift_1 #fuwu:nth-child(2) {
          margin-left: 80px; }
    section #style #numshop {
      width: 588px;
      height: 92px;
      line-height: 92px;
      text-align: center; }
      section #style #numshop #numbox {
        float: left;
        margin: 30px 20px;
        width: 148px;
        height: 40px;
        border: 1px solid #cccccc; }
        section #style #numshop #numbox #minus {
          float: left;
          display: block;
          width: 40px;
          height: 38px;
          line-height: 38px;
          text-align: center;
          background: #f0f0f0;
          color: black; }
        section #style #numshop #numbox #txt {
          float: left;
          width: 66px;
          height: 38px;
          text-align: center;
          border: none; }
        section #style #numshop #numbox #plus {
          float: left;
          display: block;
          width: 40px;
          height: 38px;
          line-height: 38px;
          text-align: center;
          color: #000000; }
      section #style #numshop #joinshop {
        margin: 25px 15px;
        float: left;
        width: 164px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        cursor: pointer;
        color: #2AAD6F;
        background: #d4eee1; }
        section #style #numshop #joinshop:hover {
          color: #EDEDED;
          background: #2AAD6F; }
      section #style #numshop #goshop {
        cursor: pointer;
        margin: 25px 15px;
        float: left;
        width: 164px;
        text-align: center;
        height: 50px;
        border-radius: 5px;
        line-height: 50px;
        color: #EDEDED;
        background: #fb5e5e; }
        section #style #numshop #goshop:hover {
          background: #ef6e6e; }
    section #style #post {
      width: 588px;
      height: 63px;
      padding-top: 15px;
      margin-bottom: 50px; }
      section #style #post .post_1 {
        float: left;
        width: 147px;
        height: 33px;
        text-align: center;
        line-height: 33px; }
        section #style #post .post_1 div {
          float: left;
          width: 30px;
          height: 30px; }
        section #style #post .post_1 span {
          margin-left: 5px;
          float: left;
          font-size: 14px; }

#main {
  width: 1263px; }
  #main #main_1 {
    margin-left: 43px;
    width: 1176px;
    height: 55px; }
    #main #main_1 a {
      float: left;
      width: 152px;
      height: 55px;
      font-size: 20px;
      color: #393939;
      line-height: 55px;
      text-align: center; }
      #main #main_1 a:first-child {
        background: #2AAD6F;
        color: #EDEDED;
        border-bottom: 5px solid #D4EEE1; }
  #main img {
    width: 100%; }

#footer {
  width: 1263px;
  height: 373px;
  padding-top: 60px;
  padding-left: 31.5px;
  padding-right: 31.5px;
  background: #f6f6f6; }
  #footer #footerTop {
    height: 178px;
    border-bottom: 1px solid #7b7b7b; }
  #footer a {
    color: #363636; }
  #footer #list {
    width: 882px;
    height: 148px;
    float: left; }
    #footer #list .list-1 {
      padding-left: 10px;
      float: left;
      width: 220.5px;
      height: 140px; }
      #footer #list .list-1 ul {
        margin-top: 20px; }
      #footer #list .list-1 li {
        font-size: 14px;
        margin: 10px 0; }
  #footer figure {
    float: right;
    width: 294px;
    height: 122px; }
    #footer figure img {
      margin-left: 100px;
      margin-bottom: 20px; }
    #footer figure p {
      width: 294px;
      height: 40px;
      font-size: 32px;
      margin-left: 90px; }
    #footer figure h4 {
      margin-left: 110px;
      color: #363636;
      font-weight: 100; }

#footer #info {
  margin-top: 40px;
  width: 1200px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #363636; }
  #footer #info .infoLeft {
    width: 680px;
    height: 30px;
    line-height: 30px;
    float: left; }
    #footer #info .infoLeft span {
      width: 650px; }
    #footer #info .infoLeft .ifon {
      display: block;
      float: right;
      width: 25px;
      height: 25px;
      overflow: hidden; }
  #footer #info .infoRight {
    float: right;
    height: 30px;
    line-height: 30px; }
    #footer #info .infoRight #sp {
      float: left;
      display: block;
      width: 65px;
      height: 30px;
      line-height: 30px; }
    #footer #info .infoRight span {
      width: 25px;
      height: 25px;
      position: relative; }
      #footer #info .infoRight span img {
        float: left;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        cursor: pointer; }

aside {
  position: fixed;
  left: 1200px;
  bottom: 40px;
  width: 42px;
  height: 74px;
  display: none; }
  aside .asideTop {
    width: 42px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #ededed;
    margin-bottom: 2px; }
    aside .asideTop img {
      width: 20px;
      height: 20px; }
  aside .asideBottom {
    width: 42px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #ededed; }
    aside .asideBottom img {
      width: 20px;
      height: 20px; }

#backTop {
  width: 120px;
  height: 36px;
  line-height: 36px;
  background: #2AAD6F;
  color: #fff;
  position: fixed;
  left: 1122px;
  bottom: 78px;
  cursor: pointer;
  display: none; }
  #backTop span {
    padding-left: 5px; }
  #backTop img {
    margin-left: 18px;
    margin-top: 8px;
    width: 20px;
    height: 20px; }

#opin {
  width: 120px;
  height: 36px;
  line-height: 36px;
  background: #2AAD6F;
  color: #fff;
  position: fixed;
  left: 1122px;
  bottom: 40px;
  cursor: pointer;
  display: none; }
  #opin span {
    padding-left: 5px; }
  #opin img {
    margin-left: 18px;
    margin-top: 8px;
    width: 20px;
    height: 20px; }

article {
  width: 1263px;
  height: 134px;
  background: #ededed;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 35px;
  display: none; }
  article h3 {
    width: 1176px;
    height: 18px;
    font-size: 18px;
    font-weight: bolder;
    color: #292929;
    padding-left: 10px;
    margin: 15px 43px; }
  article ul {
    width: 1176px;
    height: 84px;
    margin-left: 43px; }
    article ul li {
      float: left;
      width: 143px;
      height: 28px;
      line-height: 28px;
      text-align: center; }
      article ul li:last-child a {
        color: #2AAD6F; }
      article ul li a {
        font-size: 16px;
        font-weight: bolder;
        color: #7b7b7b; }

#shopinfo {
  width: 71px;
  height: 74px;
  line-height: 74px;
  background: #2AAD6F;
  cursor: pointer;
  text-align: center;
  position: fixed;
  left: 1135px;
  top: 300px; }
  #shopinfo a {
    font-size: 16px;
    color: #fff; }

#mainposition {
  background: #f7f7f7;
  width: 1263px;
  position: fixed;
  left: 0;
  top: 0;
  display: none; }
  #mainposition #main_2 {
    margin-left: 43px;
    width: 1176px;
    height: 55px; }
    #mainposition #main_2 a {
      float: left;
      width: 152px;
      height: 55px;
      font-size: 20px;
      color: #393939;
      line-height: 55px;
      text-align: center; }
      #mainposition #main_2 a:first-child {
        background: #2AAD6F;
        color: #EDEDED;
        border-bottom: 5px solid #D4EEE1; }
      #mainposition #main_2 a:last-child {
        margin-top: 7px;
        float: right;
        width: 136px;
        height: 40px;
        border-radius: 4px;
        line-height: 40px;
        background: #2AAD6F;
        color: #EDEDED; }

#main-box {
  width: 440px;
  height:521px;
  background: #fff;
  border:1px solid #878B8A;
  position: fixed;
  left: 30%;
  top: 20%; }
  #main-box #header_2 {
    width: 440px;
    height: 45px;
    padding-left: 10px; }
    #main-box #header_2 .head_2 {
      width: 420px;
      height: 45px;
      padding-left: 50px;
      border-bottom: 1px solid #B6B6B6; }
      #main-box #header_2 .head_2 li {
        width: 122px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        float: left; }
        #main-box #header_2 .head_2 li:nth-child(1) a {
          color: #2AAD6F; }
        #main-box #header_2 .head_2 li:nth-child(3) img {
          width: 17px;
          height: 17px; }
        #main-box #header_2 .head_2 li a {
          font-size: 14px;
          color: #292929;
          font-weight: bolder;
          padding-left: 15px;
          padding-bottom: 10px;
          padding-right: 15px; }
  #main-box #section_3 {
    margin-top: 50px;
    padding-left: 50px;
    width: 440px;
    height: 400px; }
    #main-box #section_3 .box_2 {
      width: 420px;
      height: 400px; }
      #main-box #section_3 .box_2 .box_top {
        width: 320px;
        height: 74px;
        text-align: center; }
        #main-box #section_3 .box_2 .box_top h3 {
          margin-top: 20px;
          width: 320px;
          height: 20px;
          color: #363636;
          font-size: 18px;
          font-weight: 500; }
      #main-box #section_3 .box_2 .box_from {
        margin-top: 40px;
        width: 320px;
        height: 400px; }
        #main-box #section_3 .box_2 .box_from input {
          width: 320px;
          height: 46px;
          margin-bottom: 15px;
          line-height: 46px;
          border: 1px solid #e2e2e2; }
        #main-box #section_3 .box_2 .box_from .other {
          width: 318px;
          height: 23px;
          margin-top: 40px; }
          #main-box #section_3 .box_2 .box_from .other img {
            width: 318px;
            height: 23px; }
        #main-box #section_3 .box_2 .box_from p {
          width: 72px;
          height: 15px;
          float: right;
          font-size: 12px;
          color: #2AAD6F;
          text-decoration: underline; }
        #main-box #section_3 .box_2 .box_from #btn {
          margin-top: 30px;
          font-size: 24px;
          color: #EDEDED;
          background: #2AAD6F; }
          #main-box #section_3 .box_2 .box_from #btn:hover {
            background: #57B488; }
        #main-box #section_3 .box_2 .box_from #ico_qq {
          width: 320px;
          height: 55px;
          text-align: center;
          padding-top: 25px;
          padding-left: 90px; }
          #main-box #section_3 .box_2 .box_from #ico_qq a {
            float: left;
            width: 30px;
            height: 30px;
            margin-right: 5px; }
            #main-box #section_3 .box_2 .box_from #ico_qq a img {
              width: 30px;
              height: 30px; }

/*# sourceMappingURL=oppo04shop.css.map */
