@charset "utf-8";
@import "base";
#header{
    width: 1263px;
    height: 28px;
    background:#2aad6f;
    padding-right:31.5px;
   ul li{
            float:right;
            width:67px;
            height:28px;
            line-height:28px;
            text-align: center;
            border-left:1px solid #57b488;
            &:hover{
                background:#57b488;
            }
        }
        ul li a{
            color:white;
        }
}
#nav{
    width:1263px;
    height:78px;
    background:white;
    .nav-left{
        width:400px;
        height:20px;
        float:left;
        margin-left:31.5px;
        margin-top:20px;
        img{
            float: left;}
        
    } 
    .nav-right{
        width:800px;
        float:right;
        margin-right:31.5px;
        ul{
            width:550px;
            float:left;
            margin-top:30px;
            margin-left: 150px;
        }
        ul li{
             padding-left:20px;
             padding-right:20px;
            float:left;
            &:nth-child(3){
                a{
                   border-bottom:2px solid #2AAD6F; 
                  }
                }
            a{
                display: block;
                padding-bottom:3px;
                color:#7b7b7b;
            }
        }
        #shopcar{
            margin-top: 20px;
            width:80px;
            height:52px;
            float: right;
        }
    }
}
.nav-right a:hover{
   // border-bottom:2px solid #2AAD6F;
    font-weight: bolder;
    color:#393939;
}
#banner{
   // margin-bottom: 50px;
    width:1263px;
    height:568px;
    img{
       width:1263px;
       height:568px; 
    }
}
section{
    width:1263px;
    padding-left:32px;
    padding-top:80px;
    padding-bottom:50px;
    #box{
        width:1176px;
        height:472px;
        .pho_1{
            border:1px solid #E0E0E0;
            width:294px;
            height:472px;
            text-align: center;
            position: relative;
            cursor: pointer;
            float: left;
            opacity: 1;
            img{
                width:264px;
                height:264px;
                margin-top:80px;
                margin-left:15px;
            }
            .ab_f{
                width:62px;
                height:68px;
                position: absolute;
                right:0;
                top:-80px;
            }
            .p1{
                margin-top:50px;
                height:17px;
                font-size: 16px;
                color: #393939;
                font-weight: 400;
            }
            .p2{
                margin-top: 30px;
                margin-left:100px;
                width:93px;
                height:22px;
                a{
                    font-size: 20px;
                    color:#2AAD6F;
                }
            }
        }
    }
}
#adress{
    width:1263px;
    height:353px;
    background: #f6f6f6;
    padding-left:42px;
    padding-top:25px;
    div{
        width:1176px;
        height:328px;
        img{
             width:1176px;
             height:328px; 
        }
    }
}
#footer{
     width:1263px;
     height:373px;
     padding-top:60px;
     padding-left:31.5px;
     padding-right:31.5px;
     background:#f6f6f6 ;
     #footerTop{
         height:178px;
        border-bottom:1px solid #7b7b7b;
     }
     a{
         color:#363636;
     }
     #list{
         width:882px;
         height:148px;
         float: left;
         .list-1{
             padding-left:10px;
             float:left;
             width:220.5px;
             height:140px;
             ul{
                 
                 margin-top:20px;
             }
             li{
                 font-size: 14px;
                 margin:10px 0;
             }
         }
     }
     figure{
         float:right;
         width:294px;
         height:122px;
         img{
             margin-left:100px;
             margin-bottom: 20px;;
         }
         p{
             width:294px;
             height:40px;
             font-size: 32px;
             margin-left:90px;
         }
         h4{
             margin-left:110px;
             color:#363636;
             font-weight: 100;
         }
     }
 }
#footer #info{
    margin-top:40px;
    width:1200px;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    color:#363636;
    .infoLeft{
        width:680px;
        height:30px;
        line-height: 30px;
        float:left;
//      background:url("img/icon-identification.png") no-repeat right;
//     background-position:0 0;
   span{
       width:650px;
   }
   .ifon{
       display: block;
       float:right;
        width:25px;
        height:25px;
        overflow: hidden;
    }
    
    }
    .infoRight{
        float:right;
        height:30px;
        line-height:30px;
        #sp{
            float:left;
            display: block;
            width:65px;
            height:30px;
            line-height:30px;
        }
        span{
            width:25px;
            height:25px;
            position:relative;
        img{
            float:left;
            width:30px;
            height:30px;
            margin-left:10px;
            cursor: pointer;
        }
        
       }
    }
}
aside{
    position:fixed;
    left:1200px;
    bottom:40px;
    width:42px;
    height:74px;
    display: none;
    .asideTop{
        width:42px;
        height:36px;
        text-align:center;
        line-height:36px;
        background:#ededed;
        margin-bottom:2px;
        img{
            width:20px;
            height:20px;
        }
    }
    .asideBottom{
        width:42px;
        height:36px;
        text-align:center;
        line-height:36px;
         background:#ededed;
        img{
            width:20px;
            height:20px;
        }
    }
}
#backTop{
    width:120px;
    height:36px;
    line-height:36px;
    background:#2AAD6F;
    color:#fff;
     position:fixed;
    left:1122px;
    bottom:78px;
    cursor: pointer;
    display:none;
    span{
        padding-left:5px;
    }
    img{
        margin-left:18px;
        margin-top:8px;
        width:20px;
        height:20px;
    }
}
#opin{
    width:120px;
    height:36px;
    line-height:36px;
    background:#2AAD6F;
    color:#fff;
     position:fixed;
    left:1122px;
    bottom:40px;
    cursor: pointer;
    display:none;
    span{
        padding-left:5px;
    }
    img{
        margin-left:18px;
        margin-top:8px;
        width:20px;
        height:20px;
    }
}
article{
    width:1263px;
    height:134px;
    background:#ededed;
    box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);
    position:absolute;
    left:0;
    top:35px;
    display: none;
    h3{
        width:1176px;
        height:18px;
        font-size: 18px;
        font-weight: bolder;
        color:#292929;
        padding-left:10px;
        margin:15px 43px; 
    }
    ul{
        width:1176px;
        height:84px;
        margin-left:43px;
        li{
            float: left;
            width:143px;
            height:28px;
            line-height: 28px;
            text-align: center;
            &:last-child{
                a{
                color:#2AAD6F;
                }
            }
            a{
            font-size: 16px;
            font-weight: bolder;
            color:#7b7b7b;
            }
        }
    }
}