@charset "utf-8";
@import "base";
header{
    width:1263px;
    height:34px;
    background:#2AAD6F;
    padding-left:150px;
    .head{
        width:960px;
        height:34px;
        li{
            height:34px;
            line-height:34px;
            float:left;
            border-left:1px solid #57b488;
            &:hover{
                background:#57b488;
            }
            a{
                font-size: 14px;
                color:#fff;
                font-weight: bolder;
                padding-left:15px;
                padding-right: 15px;
            }
        }
    }
}
section{
    margin-top: 100px;
    padding-left:470px;
    width:1263px;
    height:580px;
    .box{
        width:320px;
        height:518px;
        .box_top{
            width:320px;
            height:74px;
            text-align: center;
            img{
                width:205px;
                height:34px;
            }
            h3{
                margin-top:20px ;
                width:320px;
                height:20px;
                color:#363636;
                font-size: 18px;
                font-weight: 500;
            }
        }
        .box_from{
            margin-top:40px;
            width:320px;
            height:400px;
            input{
                width:320px;
                height:46px;
                margin-bottom: 15px;
                line-height: 46px;
                border:1px solid #e2e2e2;
            }
            .other{
                width:318px;
                height:23px;
                margin-top: 40px;
                img{
                    width:318px;
                    height:23px;
                    }
            }
            p{
                width:72px;
                height:15px;
                float:right;
                font-size: 12px;
                color:#2AAD6F;
                text-decoration: underline;
            }
            #btn{
                margin-top: 30px;
                font-size: 24px;
                color:#EDEDED;
                background: #2AAD6F;
                
                &:hover{
                    background: #57B488;
                }
            }
            #btn2{
                background: #fff;
                color:#878b8a;
                font-size: 24px;
               font-weight: none;
               &:hover{
                  background: #EDEDED; 
               }
            }
           #ico_qq{
               width:320px;
               height:55px;
               text-align: center;
               padding-top:25px;
               padding-left:90px;
               a{
                   float: left;
                   width:30px;
                   height:30px;
                  // margin-left:5px;
                   margin-right:5px;
                   img{
                       width:30px;
                       height:30px;
                   }
               }
           } 
        }
    }
}
footer{
    width:1263px;
    text-align: center;
    height:64px;
    line-height:64px;
    //margin-top:30px;
    p{
        font-size: 12px;
        color:#7b7b7b;
    }
}
