@charset "utf-8";
@import "base";
#header{
    width: 1263px;
    height: 28px;
    background:#2aad6f;
    padding-right:31.5px;
   ul li{
            float:right;
            width:67px;
            height:28px;
            line-height:28px;
            text-align: center;
            border-left:1px solid #57b488;
            &:hover{
                background:#57b488;
            }
        }
        ul li a{
            color:white;
        }
}
#nav{
    width:1263px;
    height:78px;
    background:white;
    .nav-left{
        width:400px;
        height:20px;
        float:left;
        margin-left:31.5px;
        margin-top:20px;
        img{
            float: left;}
        
    } 
    .nav-right{
        width:800px;
        float:right;
        margin-right:31.5px;
        margin-top:30px;
        ul{
            width:550px;
            float:right;
        }
        ul li{
             padding-left:20px;
             padding-right:20px;
            float:left;
            &:nth-child(5){
                a{
                   border-bottom:2px solid #2AAD6F; 
                  }
                }
            a{
                display: block;
                padding-bottom:3px;
                color:#7b7b7b;
            }
        }
    }
}
.nav-right a:hover{
   // border-bottom:2px solid #2AAD6F;
    font-weight: bolder;
    color:#393939;
}
#section{
    width:1263px;
    background: #f7f7f7;
    padding-left:32px;
    #main_top{
        width:1200px;
        height:51x;
        line-height:51px;
        color:#7b7b7b;
    }
}
#banner{
    margin-bottom: 50px;
    img{
        width:100%;
    }
    
}
section{
    width:1263px;
    height:350px;
    padding-left:43px;
    margin-bottom: 50px;
    h3{
        width:1176px;
        height:35px;
        margin:10px 0;
        font-size: 28px;
    }
    div{
        float:left;
        width:280px;
        height:140px;
        margin-left:10px;
        margin-bottom: 10px;
        img{
            width:280px;
            height:140px;
        }
    }
}
#section_2{
    width:1263px;
   min-height:350px;
    padding-left:43px;
    h4{
        width:1176px;
        height:35px;
        margin:10px 0;
        font-size: 28px;
    }
    div{
        position: relative;
        float:left;
        width:380px;
        height:140px;
        margin-left:10px;
        //margin-bottom: 10px;
        img{
            width:380px;
            height:140px;
            border-bottom: 10px solid white;
        }
        p{
            cursor: pointer;
            width:21px;
            height:21px;
            position: absolute;
            right:20px;
            bottom:20px;
        }
    }
    .hidebox,.hidebox_1{
        width:1170px;
        height:357px;
        border:1px solid #e0e0e0;
        display: none;
        overflow: hidden;
        position: relative;
      //  padding-left:80px;
        .posi_left{
            width:52px;
            height:52px;
            line-height: 52px;
            text-align: center;
            border-radius: 52px;
            background: #e0e0e0;
            position: absolute;
            left:20px;
            top:50%;
            font-size: 20px;
            color:#292929;
            cursor: pointer;
            z-index: 2;
            &:hover{
                background:#47b488;
                color:#E0E0E0;
            }
           // display: none;
        }
        .posi_right{
            width:52px;
            height:52px;
            line-height: 52px;
            text-align: center;
            border-radius: 52px;
            background: #e0e0e0;
            position: absolute;
            right:20px;
            top:50%;
            font-size: 20px;
            color:#292929;
            cursor: pointer;
            z-index: 2;
            &:hover{
                background:#47b488;
                color:#E0E0E0;
            }
         //   display:none;
        }
        ul{
            position:absolute;
            left:0;
            top:0;
        }
        li{
            float: left;
            margin-left:70px ;
            margin-top:50px;
            width:202px;
            height:272px;
            text-align: center;
            img{
                width:202px;
                height:234px;
            }
            h5{
                 width:202px;
                 height:38px;
                 font-size: 20px;
                 color:#393939;
            }
        }
    }
}
//#qusition{
//  margin-top:40px;
//  width:1263px;
//  height:160px;
//  padding-left:43px;
//  #qusition_left,#qusition_right{
//      float: left;
//      width:558px;
//      li{
//          width:558px;
//          height:76px;
//          padding:23px 0;
//          a{
//              font-size: 18px;
//              color:#292929;
//          }
//      }
//  }
//  
//}
 #footer{
     width:1263px;
  //   height:373px;
     padding-top:60px;
     padding-left:31.5px;
     padding-right:31.5px;
      background:#f6f6f6 ;
      margin-top:40px;
     #footerTop{
         height:178px;
     a{
         color:#363636;
     }
     #list{
         width:882px;
         height:148px;
         float: left;
         .list-1{
             padding-left:10px;
             float:left;
             width:220.5px;
             height:140px;
             ul{
                 
                 margin-top:20px;
             }
             li{
                 font-size: 14px;
                 margin:10px 0;
             }
         }
     }
     figure{
         float:right;
         width:294px;
         height:122px;
         img{
             margin-left:100px;
             margin-bottom: 20px;;
         }
         p{
             width:294px;
             height:40px;
             font-size: 32px;
             margin-left:90px;
         }
         h4{
             margin-left:110px;
             color:#363636;
             font-weight: 100;
         }
     }
   }
   #info{
    padding-top:40px;
    padding-bottom: 60px;
    border-top:1px solid #7b7b7b;
    width:1200px;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    color:#363636;
    .infoLeft{
        width:680px;
        height:30px;
        line-height: 30px;
        float:left;
//      background:url("img/icon-identification.png") no-repeat right;
//     background-position:0 0;
   span{
       width:650px;
   }
   .ifon{
       display: block;
       float:right;
        width:25px;
        height:25px;
        overflow: hidden;
    }
    
    }
    .infoRight{
        float:right;
        height:30px;
        line-height:30px;
        #sp{
            float:left;
            display: block;
            width:65px;
            height:30px;
            line-height:30px;
        }
        span{
            width:25px;
            height:25px;
            position:relative;
        img{
            float:left;
            width:30px;
            height:30px;
            margin-left:10px;
            cursor: pointer;
        }
        
       }
    }
  }
}
aside{
    position:fixed;
    left:1200px;
    bottom:40px;
    width:42px;
    height:74px;
    display: none;
    .asideTop{
        width:42px;
        height:36px;
        text-align:center;
        line-height:36px;
        background:#ededed;
        margin-bottom:2px;
        img{
            width:20px;
            height:20px;
        }
    }
    .asideBottom{
        width:42px;
        height:36px;
        text-align:center;
        line-height:36px;
         background:#ededed;
        img{
            width:20px;
            height:20px;
        }
    }
}
#backTop{
    width:120px;
    height:36px;
    line-height:36px;
    background:#2AAD6F;
    color:#fff;
     position:fixed;
    left:1122px;
    bottom:78px;
    cursor: pointer;
    display:none;
    span{
        padding-left:5px;
    }
    img{
        margin-left:18px;
        margin-top:8px;
        width:20px;
        height:20px;
    }
}
#opin{
    width:120px;
    height:36px;
    line-height:36px;
    background:#2AAD6F;
    color:#fff;
     position:fixed;
    left:1122px;
    bottom:40px;
    cursor: pointer;
    display:none;
    span{
        padding-left:5px;
    }
    img{
        margin-left:18px;
        margin-top:8px;
        width:20px;
        height:20px;
    }
}
article{
    width:1263px;
    height:134px;
    background:#ededed;
    box-shadow:0 3px 3px rgba(0, 0, 0, 0.2);
    position:absolute;
    left:0;
    top:35px;
    display: none;
    h3{
        width:1176px;
        height:18px;
        font-size: 18px;
        font-weight: bolder;
        color:#292929;
        padding-left:10px;
        margin:15px 43px; 
    }
    ul{
        width:1176px;
        height:84px;
        margin-left:43px;
        li{
            float: left;
            width:143px;
            height:28px;
            line-height: 28px;
            text-align: center;
            &:last-child{
                a{
                color:#2AAD6F;
                }
            }
            a{
            font-size: 16px;
            font-weight: bolder;
            color:#7b7b7b;
            }
        }
    }
}

