@charset "utf-8";
@import "base";
#header{
    width: 1263px;
    height: 28px;
    background:#2aad6f;
    padding-right:31.5px;
   ul li{
            float:right;
            width:67px;
            height:28px;
            line-height:28px;
            text-align: center;
            border-left:1px solid #57b488;
            &:hover{
                background:#57b488;
            }
        }
        ul li a{
            color:white;
        }
}
#nav{
    width:1263px;
    height:78px;
    background:white;
    .nav-left{
        width:400px;
        height:20px;
        float:left;
        margin-left:31.5px;
        margin-top:20px;
        img{
            float: left;}
        
    } 
    .nav-right{
        width:800px;
        float:right;
        margin-right:31.5px;
        margin-top:30px;
        ul{
            width:550px;
            float:right;
        }
        ul li{
             padding-left:20px;
             padding-right:20px;
            float:left;
            &:nth-child(2){
                a{
                   border-bottom:2px solid #2AAD6F; 
                  }
                }
            a{
                display: block;
                padding-bottom:3px;
                color:#7b7b7b;
            }
        }
    }
}
.nav-right a:hover{
   // border-bottom:2px solid #2AAD6F;
    font-weight: bolder;
    color:#393939;
}
#section{
    width:1263px;
    background: #f7f7f7;
    padding-left:32px;
    #main_top{
        width:1200px;
        height:51x;
        line-height:51px;
        color:#7b7b7b;
    }
}
#banner{
    margin-bottom: 50px;
    img{
        width:100%;
    }
    
}
section{
    width:1263px;
    height:350px;
    padding-left:43px;
    margin-bottom: 50px;
    h3{
        width:1176px;
        height:35px;
        margin:10px 0;
        font-size: 28px;
    }
    div{
        float:left;
        width:280px;
        height:140px;
        margin-left:10px;
        margin-bottom: 10px;
        img{
            width:280px;
            height:140px;
        }
    }
}
#section_2{
    width:1263px;
    height:350px;
    padding-left:43px;
    h4{
        width:1176px;
        height:35px;
        margin:10px 0;
        font-size: 28px;
    }
    div{
        position: relative;
        float:left;
        width:380px;
        height:140px;
        margin-left:10px;
        //margin-bottom: 10px;
        img{
            width:380px;
            height:140px;
            border-bottom: 10px solid white;
        }
        p{
            cursor: pointer;
            width:21px;
            height:21px;
            position: absolute;
            right:20px;
            bottom:20px;
        }
    }
    .hidebox,.hidebox_1{
        width:1170px;
        height:357px;
        border:1px solid #e0e0e0;
        display: none;
        overflow: hidden;
        position: relative;
      //  padding-left:80px;
        .posi_left{
            width:52px;
            height:52px;
            line-height: 52px;
            text-align: center;
            border-radius: 52px;
            background: #e0e0e0;
            position: absolute;
            left:20px;
            top:50%;
            font-size: 20px;
            color:#292929;
            cursor: pointer;
            z-index: 2;
            &:hover{
                background:#47b488;
                color:#E0E0E0;
            }
           // display: none;
        }
        .posi_right{
            width:52px;
            height:52px;
            line-height: 52px;
            text-align: center;
            border-radius: 52px;
            background: #e0e0e0;
            position: absolute;
            right:20px;
            top:50%;
            font-size: 20px;
            color:#292929;
            cursor: pointer;
            z-index: 2;
            &:hover{
                background:#47b488;
                color:#E0E0E0;
            }
         //   display:none;
        }
        ul{
            position:absolute;
            left:0;
            top:0;
        }
        li{
            float: left;
            margin-left:70px ;
            margin-top:50px;
            width:202px;
            height:272px;
            text-align: center;
            img{
                width:202px;
                height:234px;
            }
            h5{
                 width:202px;
                 height:38px;
                 font-size: 20px;
                 color:#393939;
            }
        }
    }
}

